<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- <script src="/assets/js/dropdown.js" type="text/javascript" defer="defer"></script>
    <script src="/assets/js/greyscale.js" type="text/javascript" defer="defer"></script>  -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <!-- <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/smoothscroll.js"></script> -->
  <script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
  
    
   <script src="/assets/js/angular.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  <script src="/assets/js/accordian.js"></script>